.searchbar{
    width: 100%;
    padding: 2rem 16px;
    margin-block: 2rem;
    background: var(--white-clr);
    border-radius: 4px;
}

.searchbar__input{
    width: 100%;
    border-radius: 4px;
    height: 38px;
    outline: none;
    border: none;
    padding: 0 16px;
    background: var(--grey-200);
    border: 1px solid var(--grey-secondary);
    font-size: 0.875rem;
    color: var(--text-clr);
}

.searchbar__input:hover{
    background: var(--white-clr);
    border: 1px solid var(--primary-blue);
}

.header{
    padding: 4rem 0 2rem;
}
.header__title{
    padding-block: 1rem;
    color: var(--text-clr);
    font-weight: 600;
}
.outline{
    width: 100%;
    background: var(--white-clr);
    height: 1px;
}
.outlineGrey{
    width: 95%;
    margin-inline: auto;
    background: var(--grey-200);
    height: 1px;
}
.container{
    width: 100%;
    min-height: 400px;
    background: var(--white-clr);
    border-radius: 8px;
}
.tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlebar{
    margin: 2rem 0 0;
    padding-inline: 16px;
}

.titlebar__inp{
    width: 100%;   
    height: 40px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background: var(--white-clr);
    border: 1px solid var(--grey-secondary);
    outline: none;
    font-size: 0.875rem;
}
.titlebar__inp:hover, .titlebar__inp:focus{
    outline: 1px solid var(--primary-blue);
}
.footer{
    padding: 16px;
    display: flex;
    justify-content: flex-end;
}

.detailContainer{
    min-height: 300px;
    margin-block: 2rem;
    background: var(--white-clr);
    border-radius: 4px;
}
.detail{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.detail small{
    font-size: 1.2rem;
}