.header{
    background: var(--white-clr);
    padding: 6px 12px;
    border-bottom: 1px solid var(--grey-secondary);

}

.nav{
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.imgContainer{
    position: relative;
    width: 150px;
    height: 46px;
}