.root{
    background: var(--white-clr);
    width: 100vw;
}

.container{
    padding: 5rem 0 1rem 0;

    display: flex;
    align-items: center;
    gap: 16px;
}

.content > h2{
    font-weight: 500;
    text-transform: capitalize;
}

.imageWrapper{
    position: relative;
    width: 80px;
    aspect-ratio: 1;
    border-radius: 100px;
    overflow: hidden;
}

/* single post css starts */

.post{
    width: 100%;
    background: var(--white-clr);
    border: 1px solid var(--post-border);
    margin-block: 2em;
    display: flex;
    gap: 1rem;
    border-radius: 4px;
    transition: all .3s linear;
}
.post:hover{
    border: 2px solid var(--post-border);
    cursor: pointer;
}

.postrating{
    background: var(--post-timeline);
}

.postratingwrapper{
   margin-block: 1rem;
   display: flex;
   flex-direction: column;
    align-items: center;
   padding: 16px;
}

.postinfo{
    display: flex;
    align-items: center;
    padding-block: 8px;
}

.postinfo > img{
    border-radius: 100px;
}
.postitle{
    font-weight: 500;
    padding-inline: 4px;
}
.postcreator{
    padding-right: 8px;
    color: var(--grey-300);
    font-size: 12px;
}
.posttimestamp{
    
    color: var(--grey-300);
    font-size: 12px;
}
.postheading{
    padding-block: 1rem;
}
.postPara{
    padding-block: 1rem;
}

.postmedia{
    width: 100%;
    aspect-ratio: 1 / 1;
    max-height: 900px;
    overflow: hidden;
    position: relative;
}


.postactions{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--grey-300);
    font-weight: 600;
    font-size: 1rem;
}
.postactions > div{
    display: flex;
    align-items: center;
    padding-block: 8px;
    margin-block: 4px;
}

.postactions > div:hover{
    background: rgba(0, 0, 0, 0.03);
}
/* single post css end */